.contain1{
    text-align: center;
    font-family: Arial;
}

#temp{
    font-size: 64px;
}
.container{
    width: 100%;
    overflow: hidden;
    position:fixed;
/*
    left:0px;
    right: 0px;
*/
    bottom:0px;
    border-top: 2px solid black;
}

body{
    margin: 0;
    padding: 0;
    min-width: 1140px;
}

.contain{
/*    width: calc(100%/5);*/
    width: 19%;
    float: left;
    text-align: center;
    border-right: 2px solid black;
}

.contain:last-child{
    border: none;
}


.temp{
    
    margin-bottom: 20px;
}

.days{
    margin-top: 20px;
}